@{
    ViewData["Title"] = "Home Page";
}

<button id="btnAuth">Authenticate</button>

<script>
    let btn = document.querySelector("#btnAuth");
    btn.addEventListener("click", () => {

        let url = "https://accounts.spotify.com/authorize?response_type=token&client_id=" + "@ViewData["client_id"]";
        url += "&scope=" + encodeURIComponent("@ViewData["scopes"]");
        url += "&redirect_uri=" + encodeURIComponent("@ViewData["redirect_uri"]");
        window.location.href = url;
     })
       
</script>